<div class="chart-container">  
        <div class="chart-inner-container">
            <div class="hide-chart-container" is-hidden>
        <h2 class="chart-title hide-chart">Hide Chart</h2>
            <button class="pointer-button hide-chart-btn">
                <svg class="icon-arrow-up-svg">
                    <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
                </svg>
            </button>
        </div>
        <div class="chart-canvas">
            <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>