{{#each favPos}}
<li class="list_item">
    <p class="list_item_name">{{this}}</p> <button class="close"> <svg class="svg">
            <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg> </button>
</li>
{{/each}}