// font-colors:
$black-font-color: #000000;
$white-font-color: #ffffff;
$gray-font-color: #767d85;
$orange-color: #ff6b09;

// bg-colors:
$white-background: #ffffff;
$box-cuntry-background: rgba(16, 33, 54, 0.5);
$transparent-pointer-button: rgba(255, 255, 255, 0.2);  // Добавила для кнопки в секции Chart
$box-content-background: #102136;
$transparent-button-background: rgba(255, 255, 255, 0.5);
$transparent-box-content-background: rgba(16, 33, 54, 0.8);
$body-gradient-background: linear-gradient(
  0.56deg,
  #000000 -13.48%,
  rgba(0, 0, 0, 0) 78.75%
);

// chart-square-colors
$orange-background: #ff6b09;
$blue-background: #0906eb;
$yellow-background: #ea9a05;
$green-background: #067806;
